@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

.dashboard {
    width: 80%;
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif;
}

.dashboard h1 {
    color: #10b1ce;
    text-align: center;
    font-weight: normal;
}

.UserSpots {
    width: 70%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.UserSpots a{
    font-size: 16px;
    color: #CE2D10;
}

.spot {
    display:flex; 
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #868689;
    border-radius: 25px;
    width: 200px;
    margin: 10px;
    -webkit-box-shadow: 13px 15px 33px -12px rgba(0,0,0,0.55);
    -moz-box-shadow: 13px 15px 33px -12px rgba(0,0,0,0.55);
    box-shadow: 13px 15px 33px -12px rgba(0,0,0,0.55);
    

}

.DashboardData{
    display: flex;
    align-content: center;
    flex-direction: column;
}

.spot a{
    text-align: center;
    color:#5D6D7E;
    text-decoration: none;
}

.Classcard {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.dataContainer{
    display: flex; 
    margin:0 auto;
}

.DashData{
    color:#697E99;
}

.SpotData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.DashboardData img{
    margin: 10px;
}

.DashboardData p{
    margin: 10px;
}

.DashboardDataRow{
    display:flex; 
}





@media (max-width: 1000px) {
    .UserSpots{
        width:100%;
    }
    .spot {
        width:100%;
    }
}