@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    font-family: 'Playfair Display', serif;
    

}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;

}

li {
    margin: 5px;
    
}

.navbar li a {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

.navbar a{
    display: flex; 
    text-decoration: none;
    font-size: 60px;
    flex: 1;
    color: #10b1ce;
    
}


@media (max-width: 1000px) {
    .navbar a{
        display: flex; 
        text-decoration: none;
        font-size: 40px;
        flex: 1;
        color: #10b1ce;
        
    }

    .navbar li a {
        font-size: 0.5em;
    }
}