@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

.spotDetail{
    width: 80%; 
    margin: 0 auto; 
    display:flex;
    flex-flow: row wrap;
    font-family: 'Cormorant Garamond', serif;

}

.spotname {
    display:flex;
    align-content: center;
    font-size: 40px;
    margin: 0 auto;
}

.spotpref {
    display: flex; 
    justify-content: center; 
    margin-left: 15px;
}

.sectionname {
    width: 100%;
    text-align:center;
}
.hourly-wrapper {
    display:flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.hourlydetail {
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    font-family: sans-serif;

    border: 1px;
    border-style: solid;
    border-width: 1px;
}

.time {
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    color: red;

}


.spotpref a{
    font-size: 10px; 
    color: #C1C1C8;
    
}

.currentconditions{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
}

.chart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

}

.chartdata{
    display:flex;
    margin: 0 auto;
}