
.spotlist{
    width: 80%;
    margin: 0 auto;
}
h1 {
    color: #10b1ce;
    display:flex; 
    justify-content: center;
}

h3 {
    display:flex; 
    flex-direction: row;
}

.countylist{
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    margin: 10px;
    padding: 5px;
}

.AllSpots{
    width: 70%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.SpotLink{
    display: none;
}

.CountyHeader{
    display:flex; 
    justify-content: center;
}